<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<style>
    body {
        box-sizing: border-box;
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
    }
</style>
<body>
<div class="footer">
    <p> © Miere Arrua Eugenio Adrián, Domine Yanina Elizabeth, Leites Bianca Micaela </p>
</div>
</body>
