<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="w3-display-container w3-green" style="height:100px;">

        <div class="w3-display-topleft">
            <img src="/public/imagen/Pokedex.png" alt="" width="100em" height="100em">
        </div>

        <div class="w3-display-middle">
            <h1>Pokedex</h1>
        </div>



        <div class="w3-display-topright">


            <form action="" method="post">
                <label for="user"></label>
                <input type="text" id="user" name="user" required placeholder="Usuario">

                <label for="password"></label>
                <input type="password" id="password" name="password" required placeholder="Clave">
                <button type="submit">Ingresar</button>
            </form>
        </div>

    </div>

    <div class="w3-display-container w3-green" style="height:100px;">
        <div class="w3-display-middle">
            <form action="/controller/PokemonController.php?controller=pokemon&action=get" method="post">
                <label for="search"></label>
                <input type="search" id="search" name="search" placeholder="Ingrese el nombre, tipo o número de Pokémon" width="100px">
                <button type="submit">¿Quién es este Pokémon?</button>
            </form>
        </div>
    </div>

</body>
