<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/editar_pokemon_estilos.css">
    <title> Actualizar Pokémon</title>
</head>
<body>
// Aca se accede si el admin presiona modificar
</body>
</html>
