// aca se accede si el admin inició sesión. Deben estar los botones modificar, eliminar y crear Pokemon
<!-- The Public Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Pokemon</h2>
    <table class="w3-table w3-striped w3-border">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th>Descripcion</th>
        </tr>
        {{#pokemones}}
            <tr>
                <td>{{numero_identificador}}</td>

                <td>{{nombre}}</td>

                <td><img src="public/imagen/tipo/{{tipo}}.webp" alt="" width="100em" height="100em"></td>

                <td><img src={{imagen}} alt="" width="100em" height="100em"></td>

                <td class="contenedor-btn">
                <button name="nombrePokemon" value="{{nombre}}" > <a href="actualizarPokemonView.mustache?nombrePokemon={{nombre}} </a> Actualizar </button> 
                 

                <td class="contenedor-btn">
                <button name=nombrePokemon value="{{nombre}}" > <a href="eliminarPokemonView.mustache?nombrePokemon={{nombre}} </a> Eliminar </button> 
                </td> 

            </tr>
        {{/pokemones}}
    </table>
</div>
